name: needsfine_app
description: "A new Flutter project."
publish_to: 'none'

version: 1.0.0+1

environment:
  sdk: ^3.9.2

dependencies:
  flutter:
    sdk: flutter

  shared_preferences: ^2.2.2
  carousel_slider_plus: ^7.1.1
  cupertino_icons: ^1.0.8
  scrollable_positioned_list: ^0.3.8
  google_maps_flutter: ^2.5.3
  geolocator: ^11.0.0 # Added for location services
  permission_handler: ^11.3.1 # Added for permission handling

dev_dependencies:
  flutter_test:
    sdk: flutter

  flutter_lints: ^5.0.0

flutter:
  uses-material-design: true

  # assets:
  #   - assets/images/
